html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "login signup"
    "footer footer";
    grid-template-rows: 2fr 9fr 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 100%;
    margin-left: 8em;
    margin-right: 8em;
}

h1 {
    grid-area: header;
    text-align: center;
}

button {
    background-color: darkgray;
    align-self: center;
}

#login {
    grid-area: login;
}

#signup {
    grid-area: signup;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
    margin: 0;
}

#footer li {
    list-style: none;
    display: inline;
    border: 0 solid black;
    border-right-width: 2px;
    padding-left: 1em;
    padding-right: 1em;
    height: fit-content;
}

#footer li a {
    text-decoration: none;
}

#footer li:last-child {
    border-right-width: 0;
}

.login_signup {
    padding-top: 2em;
    margin-bottom: 2em;
}

#login {
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
}

.login_signup form {
    display: flex;
    flex-direction:column;
    align-items: end;
    margin-right: 3em;
}

.login_input {
    display: flex;
    justify-content: end;
    width: 90%;
}

.login_input p {
    width: 5em;
}

.login_input input {
    height: 2em;
    margin: auto;
    margin-right: 0;
    flex-grow: 1;
    background-color: lightgray;
}

#login button {
    width: 10em;
    height: 2em;
}

#signup {
    margin-left: 2em;
}

#signup button{
    padding: 2em 4em;
    margin-top: 1em;
    margin-left: 4em;
}