<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/signup.css">
  </head>
  <body>

    <div id="header">
        <a href="homepage"><button id="loginButton">Return to Home</button></a>
        <h1>Admin Controls</h1>
    </div>
    
    <div id="reset" align="right">
	    <form th:action="@{/reset_vote0}" method="post" >
	    	<button type="submit" style="height:50px;width:200px" class="btn btn-primary">Reset Vote0</button>
	    </form>
	 </div>
	 <div id="reset" style="margin-top:30px;" align="right">
	    <form th:action="@{/reset_vote1}" method="post" >
	    	<button type="submit" style="height:50px;width:200px" class="btn btn-primary">Reset Vote1</button>
	    </form>
	 </div>
	 <div id="reset" style="margin-top:30px;" align="right">
	    <form th:action="@{/reset_vote2}" method="post" >
	    	<button type="submit" style="height:50px;width:200px" class="btn btn-primary">Reset Vote2</button>
	    </form>
	 </div>
    
    
    <div class="change_active" style="margin-bottom:900px;" id="active">
	    <form th:action="@{/change_active}" method="post" >
	    	<input type="text" size="60px" name="topicName" required/>
	    	<button type="submit" style="height:50px;width:200px"class="btn btn-primary">Change Status</button>
	    </form>
	 </div>
    

    <!-- sign up form -->
    <div class="login_signup" id="signup">
    	<form th:action="@{/add_topic}" method="post" th:object="${newTopic}">
            <div class="login_input">
                <p>First Candidate Name</p>
                <input type="text" id="candidate1nameId" name="candidate1name" th:field="*{candidate1}" required>
            </div>
            <div class="login_input">
                <p>Second Candidate Name</p>
                <input type="text"  id="candidate2nameId" name="candidate2name" th:field="*{candidate2}" required>
            </div>
            <div class="login_input">
                <p>Description</p>
                <input type="text" id="descriptionId" name="description" th:field="*{description}" required>
            </div>
            <div class="login_input">
                <p>Topic Name</p>
                <input type="text" id="topicnameId" name="topicName" th:field="*{name}" required>
            </div>
            
           
            <!-- submit button -->
            <button type="submit" class="btn btn-primary">Add Topic</button>
         </form>   
    </div>
    
	
    <script src="js/voting.js"></script>
    <script src="js/result.js"></script>

  </body>
</html>