<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/signup.css">
  </head>
  <body>

    <div id="header">
        <a href="homepage"><button id="loginButton">Return to Home</button></a>
        <h1>THIS IS A TEMPLATE FOR FUTURE ADMIN CONTROLS</h1>
    </div>

    <!-- sign up form -->
    <div class="login_signup" id="signup">
            <div class="login_input">
                <p>First Candidate Name</p>
                <input type="text" id="candidate1nameId" name="candidate1name">
            </div>
            <div class="login_input">
                <p>Second Candidate Name</p>
                <input type="text"  id="candidate2nameId" name="candidate2name">
            </div>
            <div class="login_input">
                <p>Description</p>
                <input type="text" id="descriptionId" name="description">
            </div>
            <div class="login_input">
                <p>First Candidate Image</p>
                <input type="text" id="candidate1ImageId">
            </div>
            
            <div class="login_input">
                <p>Second Candidate Image</p>
                <input type="text" id="candidate2ImageId">
            </div>

            <!-- submit button -->
            <button type="submit" class="btn btn-primary" onclick="addTopic(document.getElementById('candidate1nameId').value, 
            document.getElementById('candidate2nameId').value, document.getElementById('descriptionId').value,
            document.getElementById('candidate1ImageId').value, document.getElementById('candidate2ImageId').value)">Add Candidate</button>
    </div>

    <!-- footer -->
    <ul id="footer">
        <li><a href="home">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Legal (?)</a></li>
        <li><a href="">Other Info</a></li>
    </ul>
    
    <script src="js/voting.js"></script>
    <script src="js/result.js"></script>

  </body>
</html>