<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/signup.css">
  </head>
  <body>

    <div id="header">
        <a href="homepage"><button id="loginButton">Return to Home</button></a>
        <h1>THIS IS A TEMPLATE FOR FUTURE ADMIN CONTROLS</h1>
    </div>

    <!-- sign up form -->
    <div class="login_signup" id="signup">
        <form th:action="@{/process_register}" method="post" th:object="${user}">
            <!-- name -->
            <div class="login_input">
                <p>Name</p>
                <input type="text" class="form-control" th:field="*{name}" required>
            </div>
            <!-- username -->
            <div class="login_input">
                <p>Username</p>
                <input type="text" class="form-control" th:field="*{username}" required>
            </div>
            <!-- password -->
            <div class="login_input">
                <p>Password</p>
                <input type="password" class="form-control" th:field="*{password}" required>
            </div>
            <!-- password confirmation 
            <div class="login_input">
                <p>Re-enter Password</p>
                <input type="password">
            </div>-->

            <!-- submit button -->
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>

    <!-- footer -->
    <ul id="footer">
        <li><a href="home">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Legal (?)</a></li>
        <li><a href="">Other Info</a></li>
    </ul>

  </body>
</html>