<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body onload = "welcomeUser(realname)">

    <div id="header">
        <h1>Welcome {name}!</h1>
         <form th:action="@{/logout}" method="post">
	       <a href="index.html" id="logout"><button>Logout</button></a>
	     </form>
        
    </div>
  
    <!-- currently going on -->
    <div id="current" class="elections_div">
        <p>Elections currently going on:</p>
        <ul>
            <a href="voting?q=Pyra"><li>The Better Aegis</li></a>
            <a href="voting?q=Ford"><li>Ford vs Chevy</li></a>
            <a href="voting?q=apple_cherry"><li>Apple vs Cherries</li></a>
            <a href="voting?q=apple_samsung"><li>Apple vs Samsung</li></a>
        </ul>
    </div>

    <!-- recent elections -->
    <div id="recent" class="elections_div">
        <p>Results of recent elections:</p>
        <ul>
        	<a href="result?q=Pyra"><li>The Better Aegis</li></a>
            <a href="result?q=Ford"><li>Ford vs Chevy</li></a>
        </ul>
        <div id="view_all">
            <a href="results">View all results</a>
        </div>
    </div>
    

    <!-- footer -->
    <ul id="footer">
		<li><a href="homepage">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Legal (?)</a></li>
        <li><a href="">Other Info</a></li>
    </ul>


	<script src="js/home.js"></script>
	<script th:inline="javascript">
		var realname = [[${user.name}]];
		var username = [[${user.username}]];
	</script>
  </body>
</html>