<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/signup.css">
  </head>
  <body>

    <div class="container" style="text-align:center">
    	<div>
    		<h3><font size="30">The topic you are trying to access is inactive.</font></h3>
    		<h4><a th:href="homepage" id="logout"><button style="font-size: 30px">Click here to return Home</button></a></h4>
    	</div>
    </div>	

    <!-- footer -->
    <ul id="footer">
        <li><a href="home">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="adminhome">Admin Home</a></li>
        <li><a href="">Other Info</a></li>
    </ul>

  </body>
</html>