<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/voting.css">
  </head>
  <body>

    <div id="header">
        <a href="homepage"><button id="home">Back to Home</button></a>
        <h1 id="title">Title Here</h1>
        <form th:action="@{/logout}" method="post">
            <button>Logout</button>
         </form>
        
    </div>
  
    <div id="election">
		<p id="description" style="font-size: 30px;">Description Here</p>
        <!-- 1st candidate -->
        <div id="candidate1" class="candidate">
            <h2 class="candidate_name" id="candidate1_name">Name here</h2>
            <img class="candidate_img" id="candidate1_img" src="imgs/candidate.jpg">
            
            <form th:action="@{/confirm_vote}" method="post" th:object="${id}">
            <input type="hidden" name="id" th:value="${candidate1.id}"/>
				<button>Vote</button>
	        </form>
        </div>

        <!-- 2nd candidate -->
        <div id="candidate2" class="candidate">
            <h2 class="candidate_name" id="candidate2_name">Name here</h2>
            <img class="candidate_img" id="candidate2_img" src="imgs/candidate.jpg">
			<form th:action="@{/confirm_vote}" method="post" th:object="${id}">
				<input type="hidden" name="id" th:value="${candidate2.id}">
				<button>Vote</button>
	        </form>
        </div>
    </div>

    <!-- footer -->
    <ul id="footer">
        <li><a href="homepage">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="adminhome">Admin Home</a></li>
        <li><a href="">Other Info</a></li>
    </ul>

	<script src="js/election.js"></script>
	<script src="js/voting.js"></script>
	
	<script th:inline="javascript">
		var topicName = [[${topicInfo.name}]];
		var topicDescription = [[${topicInfo.description}]];
		
		var candidate1Name = [[${candidate1.name}]]; 
		var candidate2Name = [[${candidate2.name}]]; 
		
		
		
		document.getElementById("description").innerHTML = topicDescription;
		document.getElementById("title").innerHTML = topicName;
		document.getElementById("candidate1_name").innerHTML = candidate1Name;
		document.getElementById("candidate2_name").innerHTML = candidate2Name;
		document.getElementById("candidate1_img").src = "imgs/" + candidate1Name + ".jpg";
		document.getElementById("candidate2_img").src = "imgs/" + candidate2Name + ".jpg";
		
	</script>
  </body>
</html>